
 .container{
background-color: rgb(219, 255, 243);
height: 500px;
background-attachment: fixed;
display: flex;
flex-direction: column;
justify-content: center;
width: 1800px;
margin-left: 30px;

}
.cards{
    margin-left: 300px;

}
.para{
    margin-left: 300px;
    font-size: 18px;
}

.hd1{
    font-size: 25px;
}

.button{
    background-color: rgb(107, 175, 240);
    padding: 15px;
    margin: 15px;
    border: none;
    width: 300px;
    border-radius: 10px;
    margin-left: 300px;
}

.body{
    margin-left: 25%;
    margin-top: 30px;
}
.pra{
    margin-left: 200px;
    color: gray;
}

.data{
    display:  flex;
    margin-left: 100px;
    margin-top: 80px;
    color: rgb(107, 175, 240);
}

.footer{
    background-color: rgb(219, 255, 243);
    width: 100%;
    height: 500px;
    margin-top: 50px;
}
.ma1{
    color: gray;
    margin-left: 600px;

}

.ma2{
    margin-left: 570PX;
    
}
.ma3{
    margin-left: 200px
}
.box1{
    background-color: white;
width: 500px;

}
.box2{
    background-color: white;
    width: 500px;
  
}
.box3{
    background-color: white;
    width: 500px;
    height: 200px;
  
}
.box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

   

}

